html, body {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a {
    color: #a6dbed;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
    a.block
    {
        display: block;
        width: 100%;
        padding: 3px;
        position: relative;
    }

    a:hover {
        background-color: rgba(160,160,160,0.8);
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/

.contentWrapper {
    margin: 0 auto;
    max-width: 960px;
}

    .contentWrapper header, .contentWrapper article
    {
        margin-left: 25px; /* Change this value with the #mainMenu width*/
    }
    .contentWrapper article
    {
        padding: 5px;
        text-align: justify;
    }

#mainMenu
{
    display: block;
    position:relative;
    overflow: visible;
    float:left;
    width: 25px;
    padding-top: 30px;
    z-index: 10;
}
    #mainMenu .wrapper
    {
        transition: width ease-out 0.3s;
        width: 20px;
        overflow: hidden;
    }
    #mainMenu .wrapper:hover
    {
        width: 200px;
    }
    #mainMenu ul, #breadCumb ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #mainMenu li
    {
        border-bottom: dotted gray;
        width: 100%;
    }
    #mainMenu a
    {
        margin-left: 20px;
    }
    #mainMenu a::before
    {
        content:'';
        background: url(../Images/test.jpg);
        height: 20px;
        width: 20px;
        position: absolute;
        left: -20px;
    }
    #mainMenu a:hover::before
    {
        background-position: -10px;
    }

#breadCumb li
{
    display: inline-block;
}
#breadCumb a
{
    padding: 3px 10px;
    border-right: solid gray thin;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: auto;
}

header{
    padding-top: 20px;
    position: relative;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


.menu
{
    display: inline-block;
    position: absolute;
    right: 0px;
}

/* User Menu
*/


#UserMenu
{
    display: inline-block;
    float: right;
    margin-right: 50px;
}


/* site title
----------------------------------------------------------*/
.siteTitle {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.siteTitle a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}



/* page elements
----------------------------------------------------------*/

/* content */

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }


/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* forms */
    input {
        width: 90%;
    }

}
