<ul>
                    <li><a id="navHome" class="block">Home</a></li>
                    <li><a id="navTraining" class="block">Trainings</a></li>
                    <li><a id="navPhotos" class="block">Photos</a></li>
                </ul>